:root {

  --bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --bg-carolina-blue: hsla(199, 89%, 49%, 1);
  --bg-prussian-blue: hsla(216, 33%, 20%, 1);
  --bg-oxford-blue: hsla(222, 44%, 13%, 1);
  --bg-oxford-blue-2: hsla(222, 47%, 11%, 1);


  --text-white: hsla(0, 0%, 100%, 1);
  --text-alice-blue: hsla(216, 100%, 95%, 1);
  --text-columbia-blue: hsla(199, 69%, 84%, 1);
  --text-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --text-carolina-blue: hsla(199, 89%, 49%, 1);
  --text-shadow-blue: hsla(217, 24%, 59%, 1);
  --text-slate-gray: hsla(217, 17%, 48%, 1);

  /** Gradient colors */
  --gradient-1: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  --gradient-2: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
  --gradient-3: linear-gradient(0deg, #000d1a, transparent);

  /** Border colors */
  --border-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --border-prussian-blue: hsla(216, 33%, 20%, 1);
  --border-white: hsl(0, 0%, 100%);
  --border-white-alpha-15: hsla(0, 0%, 100%, 0.15);

  /** Default colors */
  --white: hsl(0, 0%, 100%, 1);
  --black: hsl(0, 0%, 0%, 1);

  /**
   * TYPOGRAPHY
   */

  /** Font family */
  --fontFamily-noto_sans: 'Noto Sans', sans-serif;

  /** Font size */
  --fontSize-1: 2.9rem;
  --fontSize-2: 2.0rem;
  --fontSize-3: 1.8rem;
  --fontSize-4: 1.6rem;
  --fontSize-5: 1.5rem;
  --fontSize-6: 1.4rem;
  --fontSize-7: 1.2rem;
  --fontSize-8: 1.3rem;

  /** Font weight */
  --weight-medium: 500;
  --weight-semiBold: 600;
  --weight-bold: 700;
  --weight-extraBold: 800;

  /** Line height */
  --lineHeight-1: 1.3;
  --lineHeight-2: 1.5;
  --lineHeight-4: 1.5;

  /**
   * BOX SHADOW
   */

  --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
  --shadow-2: 0px 3px 20px hsla(180, 90%, 43%, 0.2);

  /**
   * BORDER RADIUS
   */

  --radius-6: 6px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-48: 48px;
  --radius-circle: 50%;
  --radius-pill: 200px;

  /**
   * SPACING
   */

  --section-padding: 70px;

  /**
   * TRANSITION
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
input,
button,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

input {
  width: 100%;
  outline: none;
}

button { cursor: pointer; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-oxford-blue-2);
  color: var(--white);
  font-family: var(--fontFamily-noto_sans);
  font-size: 1.6rem;
  line-height: var(--lineHeight-4);
  overflow-y: overlay;
}

body.nav-active { overflow: hidden; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: var(--bg-carolina-blue);
  border-radius: var(--radius-pill);
}

.container { padding-inline: 16px; }


.hover-1,
.hover-2 { transition: var(--transition-1); }

.hover-1:is(:hover, :focus-visible) { 
  color: var(--text-wild-blue-yonder);
  transform: translateX(3px);
}

.hover-2:is(:hover, :focus-visible) { color: var(--text-carolina-blue); }

.profile-card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-card .profile-banner { border-radius: var(--radius-circle); }

.headline {
  color: var(--text-white);
  line-height: var(--lineHeight-1);
}

.headline-1 {
  font-size: var(--fontSize-1);
  color: var(--text-white);
  font-weight: var(--weight-extraBold);
}

.headline-2 { font-size: var(--fontSize-2); }

.headline-3 {
  font-size: var(--fontSize-2);
  line-height: var(--lineHeight-2);
}

.section-title { margin-block-end: 10px; }

.headline .span {
  background-image: var(--gradient-1);
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.btn {
  background-image: var(--gradient-2);
  background-size: 200%;
  background-position: left;
  color: var(--white);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-bold);
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 3px;
  transition: var(--transition-1);
}

.btn:is(:hover, :focus-visible) { background-position: right; }

.btn-primary {
  padding: 8px 16px;
  border-radius: var(--radius-6);
  margin-right: 100px;
}

.btn-secondary {
  padding: 18px 30px;
  border-radius: var(--radius-pill);
}


.card {
  background-color: var(--bg-oxford-blue);
  border: 1px solid var(--border-prussian-blue);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--bg-prussian-blue);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section { padding-block: var(--section-padding); }

.section-text {
  font-size: var(--fontSize-3);
  margin-block-end: 70px;
}

.grid-list {
  display: grid;
  gap: 30px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  font-size: var(--fontSize-6);
  margin-block: 20px;
}

.card-wrapper :is(.card-tag, .wrapper) {
  display: flex;
  gap: 5px;
  align-items: center;
}


.slider-title.slider-subtitle {
    display: flex; /* Ative o flexbox para os elementos internos */
    align-items: center; /* Alinhe os elementos verticalmente ao centro */
}

.slider-title.slider-subtitle  span.view-count {
    margin-left: 10px; /* Adicione margem à esquerda para separar os elementos */
}



/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.logo {
  margin-left: 50px; /* Ajuste conforme necessário para controlar a margem esquerda */
  margin-right: auto; /* Centraliza horizontalmente a logo */
  display: block; /* Define como um bloco para alinhar corretamente */
  }

/* Estilos para a barra de navegação */
.header {
  background-color: var(--bg-oxford-blue-2);
    padding: 20px 0;
    border-bottom: 0.1rem solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinhar verticalmente no centro */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  /* Estilos para a lista de navegação */
.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Centralizar horizontalmente */
  flex-grow: 1; /* Expande para ocupar o espaço restante */
}

.nav-list li {
  margin-right: 90px;
}

/* Estilos para os itens de navegação */
.nav-link {
  color: var(--text-white);
  text-decoration: none;
  transition: var(--transition-1);
}

.nav-link:hover,
.nav-link:focus-visible {
  color: var(--text-wild-blue-yonder);
  transform: translateX(3px);
}

/* Estilos para o botão do menu */
.nav-open-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu div{
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  
  }
  
  .mobile-menu{
  cursor: pointer;
  display: none;
  }
  
  .nav-list.active{
  transform: translateX(0);
  }
  
  @keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  
  to {
    opacity: 1;
    transform: translateX(0);
  }
  }
  
  @media (max-width: 768px) {
  
  body{
    overflow-x: hidden;
  }
  .nav-list{
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: var(--bg-oxford-blue-2) ;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  
  .nav-list li{
    margin-left: 90px;
 text-align: center;
    opacity: 0;
  }
  .mobile-menu{
    display: block;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 9px;
  }
   .btn-primary{
    margin-left: 0;
    opacity: 0;
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: var(--bg-oxford-blue-2) ;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    
   }
   .logo {
    margin-left: 30px;
    
   }
  }
  

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero-bg { display: none; }

.hero { padding-block-start: calc(var(--section-padding) + 160px); }

.hero .container {
  display: grid;
  gap: 50px;
}

.hero-subtitle {
  font-size: var(--fontSize-6);
  font-weight: var(--weight-bold);
}

.hero .section-title { margin-block: 20px; }

.hero .hero-text { margin-block-end: 40px; }

.hero .input-wrapper:hover { box-shadow: var(--shadow-2); }

.hero .input-wrapper {
  position: relative;
  padding: 10px;
  padding-inline-start: 20px;
  background-color: var(--bg-prussian-blue);
  border-radius: var(--radius-6);
  border: 1px solid var(--bg-carolina-blue);
  display: flex;
  justify-items: flex-end;
  transition: var(--transition-1);
}

.hero .input-field { padding-inline-end: 5px; }

.hero-banner { position: relative; }

.hero-banner .w-100 {
  max-width: max-content;
  margin-inline: auto;
}

.hero .shape {
  position: absolute;
  z-index: -1;

  animation: heroDecoAnim 3s linear infinite alternate;
}

@keyframes heroDecoAnim {
  0% { transform: translateY(40px) rotate(0); }
  100% { transform: translateY(0) rotate(0.4turn); }
}

.hero .shape-1 {
  top: 50px;
  right: 40px;
}

.hero .shape-2 {
  bottom: 20px;
  left: 24px;
}





/*-----------------------------------*\
  #TOPICS
\*-----------------------------------*/

.topic-card {
  padding: 24px;
  border-radius: var(--radius-8);
}

.topic-card .card-content { margin-block-end: 15px; }

.topic-card .card-text {
  color: var(--text-wild-blue-yonder);
  font-size: var(--fontSize-6);
  margin-block: 15px 20px;
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-icon {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  background: var(--bg-prussian-blue);
  border-radius: var(--radius-circle);
  color: var(--white);
}

.btn-icon:is(:hover, :focus-visible) { background: var(--gradient-1); }

.slider {
  --slider-items: 1;
  overflow: hidden;
}

.slider-list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: transform var(--transition-2);
}

.slider-item { min-width: 100%; }

.slider-card { position: relative; }

.slider-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: var(--gradient-3);
  border-radius: var(--radius-8);
}

.slider-list .slider-banner { border-radius: var(--radius-8); }

.slider-content {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.slider-title {
  color: var(--text-white);
  font-weight: var(--weight-bold);
  margin-block-end: 5px;
  transition: var(--transition-1);
}

.slider-card:is(:hover, :focus-visible) .slider-title { color: var(--text-carolina-blue); }

.slider-subtitle { font-size: var(--fontSize-7); }





/*-----------------------------------*\
  #FEATURED
\*-----------------------------------*/

.feature-bg { display: none; }

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feature-card {
  padding: 20px;
  border-radius: var(--radius-16);
  transition: var(--transition-1);
}

.feature-card:is(:hover, :focus-within) { 
  transform: translateY(-5px);
  box-shadow: var(--shadow-2);
  background-image: linear-gradient(var(--bg-oxford-blue), var(--bg-oxford-blue)), var(--gradient-1);
  background-clip: padding-box, border-box;
  border-color: transparent;
  transform: translateY(-2px);
  transition: var(--transition-1);
 }

.feature-card .card-banner { border-radius: var(--radius-16); }

.feature-card .card-wrapper { margin-block-start: 24px; }

.feature .profile-card :is(.card-title, .card-subtitle) { color: var(--text-white); }

.feature .profile-card .card-title { font-weight: var(--weight-bold); }

.feature .profile-card .card-subtitle,
.feature .card-wrapper .card-btn { font-size: var(--fontSize-6); }

.feature-card .card-wrapper:last-child {
  font-size: var(--fontSize-4);
  margin-block-end: 0;
}

.feature .card-wrapper .card-btn {
  position: relative;
  color: var(--text-wild-blue-yonder);
  z-index: 1;
}

.feature .card-wrapper .card-btn::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -20px;
  width: 48px;
  height: 48px;
  background-color: var(--bg-oxford-blue-2);
  border-radius: var(--radius-circle);
  z-index: -1;
}

.feature .btn {
  margin-inline: auto;
  margin-block-start: 30px;
}


.wrapper {
  display: flex;
  align-items: center;
  
}

.card-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.card-title {
  margin: 0; /* Remova margens padrão */
}



.card-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  
}

.card-date {
  margin-right: 44.7px; /* Adicione espaço à direita do post-date */
}


.view-count {
  font-weight: bold; /* Adicione estilos de fonte conforme necessário */
  margin-left: 10px;
  margin-right:auto;
}



/*-----------------------------------*\
  #POPULAR TAGS
\*-----------------------------------*/

.tags .grid-list { grid-template-columns: repeat(auto-fit, minmax(125px, 1fr)); }

.tag-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 18px;
  border-radius: var(--radius-16);
}

.tag-btn:is(:hover, :focus-visible) {
  box-shadow: var(--shadow-2);
  background-image: linear-gradient(var(--bg-oxford-blue), var(--bg-oxford-blue)), var(--gradient-1);
  background-clip: padding-box, border-box;
  border-color: transparent;
  transform: translateY(-2px);
  transition: var(--transition-1);
}

.tag-btn img {
  width: 100%;
  max-width: 32px;
}





/*-----------------------------------*\
  #RECENT POST
\*-----------------------------------*/

.recent-post .container {
  display: grid;
  gap: 50px;
}

.recent-post-card {
  display: grid;
  gap: 30px;
}

.recent-post-card .card-banner {
  border-radius: var(--radius-16);
  transition: var(--transition-1);
  
}

.recent-post-card:is(:hover, :focus-within) .card-banner {
  transform: translateY(-2px);
  box-shadow: var(--shadow-2);
  background-image: linear-gradient(var(--bg-oxford-blue), var(--bg-oxford-blue)), var(--gradient-1);
  background-clip: padding-box, border-box;
  border-color: transparent;
  transform: translateY(-2px);
  transition: var(--transition-1);
}

.recent-post-card .card-text {
  color: var(--text-wild-blue-yonder);
  font-size: var(--fontSize-6);
 
}

.recent-post-card .card-badge {
  background-color: var(--bg-prussian-blue);
  max-width: max-content;
  color: var(--text-white);
  font-size: var(--fontSize-8);
  font-weight: var(--weight-bold);
  padding: 4px 15px;
  border-radius: var(--radius-pill);
  transition: var(--transition-1);
  
 
}

.recent-post-card .card-badge:is(:hover, :focus-visible),
.pagination-btn:is(:hover, :focus-visible) {
  transform: translateY(-2px);
  background-color: var(--bg-carolina-blue);
  box-shadow: var(--shadow-2);
  background-image: linear-gradient(var(--bg-oxford-blue), var(--bg-oxford-blue)), var(--gradient-1);
  background-clip: padding-box, border-box;
  border-color: transparent;
  transform: translateY(-10px);
  transition: var(--transition-1);
  
}





.recent-post-card .card-wrapper ion-icon {
  font-size: 1.8rem;
  --ionicon-stroke-width: 40px;
}

.pagination-btn {
  background-color: var(--bg-prussian-blue);
  color: var(--text-white);
  font-weight: var(--weight-bold);
  line-height: 1;
  width: 35px;
  height: 35px;
  display: flex;
  place-items: center;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
}


/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  padding-inline: 20px;
  border-radius: var(--radius-48);
  color: var(--text-wild-blue-yonder);
  margin-block-end: 24px;
 margin-top: -100px;
}

.footer-top {
  display: grid;
  
}





.footer-bottom {
  border-block-start: 1px solid var(--border-prussian-blue);
  padding-block: 40px;
  margin-top: -100px;
}

.copyright {
  text-align: center;
  margin-block-end: 15px;
  font-size: 20px;
}

.copyright-link {
  display: inline-block;
  color: var(--text-carolina-blue);
  font-style: italic;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) {
  color: var(--text-carolina-blue);
  transform: translateY(-5px);
}


.icon {
  margin: 0 5px;
  font-size: 50px;
}

/* Estilos para o footer */
.div {
  
  color: white;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.footer-left {
  flex: 1; /* Ocupa o espaço disponível à esquerda */
  text-align: left;
}

/* Estilos para o formulário */
form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

label{
  margin-bottom: 10px;
  font-size: 15px;
}

.input[type="email"] {
  width: 400px;
  height: 50px;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 10px;
  border: 2px solid var(--bg-carolina-blue);
  background-color: white;
  
}

.submit {  
  border: none;
  border-radius: 10px;
  padding: 7px 7px;
  cursor: pointer;
  background-image: var(--gradient-2);
  background-size: 200%;
  color: var(--white);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-bold);
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 3px;
  transition: var(--transition-1);
}

button:hover {
  background-color: #0056b3; /* Cor quando passa o mouse por cima */
}

/* Estilos responsivos para o footer */
@media (max-width: 768px) {
  .div {
    flex-direction: column;
  }

  .footer-left {
    text-align: center;
    margin-bottom: 10px; /* Espaçamento inferior */
  }

  /* Outros estilos responsivos para o footer conforme necessário */

  /* Estilos responsivos para o formulário */
  form {
    flex-direction: column;
    align-items: center;
  }

  label {
    
    margin-bottom: 5px;
    
  }

  .input[type="email"] {
    width: 250px;
    margin-right: 0;
    
  }
}

/* Estilos para o footer */
.d {
  
  color: white;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags-column {
  list-style-type: none;
  padding: 0;
  margin: 40px;
  margin-left: 70px;
}

.tags-column li {
  margin-bottom: 10px; /* Espaçamento vertical entre as tags */
  cursor: pointer;
  transition: color 0.3s;
  font-size: 20px;
}

.tags-column li:hover {
  color: #007bff; /* Cor quando passa o mouse por cima */
}

/* Estilos responsivos para o footer */
@media (max-width: 768px) {
  .d {
    flex-direction: row;
  }

  .tags-column{
    margin: 20px;
    margin-top: 45px;
    text-align: left;
  }
  
  .tags-column li {
    margin-bottom: 5px; /* Espaçamento vertical menor entre as tags */
    font-size: 18px;
  }
  .footer-bottom {
    
     
      padding-block: 50px;
      margin-top: -25px;
  }

  .copyright{
    margin-top: -25px;
  }
}


/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--bg-prussian-blue);
  color: var(--white);
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  border: 3px solid var(--bg-carolina-blue);
  transition: var(--transition-1);
  visibility: hidden;
  opacity: 0;
  z-index: 4;
}

.back-top-btn:is(:hover, :focus-visible) { box-shadow: var(--shadow-2); }

.back-top-btn.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(-10px);
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    /* font size */
    --fontSize-1: 4.4rem;
    --fontSize-2: 3.5rem;

    /**
     * spacing
     */

    --section-padding: 100px;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .headline-3 { --fontSize-2: 2.4rem; }



  /**
   * HEADER
   */



/* Estilos padrão para telas maiores */
.card-subtitle {
  display: flex;
  align-items: center;
}

.card-date {
  margin-right: 10px; /* Espaçamento entre o post-date e o view-count */
}

ion-icon {
  font-size: 20px;
  margin-left: 10px; /* Espaçamento entre o ícone e o view-count */
}



  /**
   * HERO
   */

  .hero { position: relative; }

  .hero .input-wrapper { max-width: 390px; }

  .hero-bg {
    display: block;
    position: absolute;
    pointer-events: none;
  }

  .hero-bg-1 {
    top: 80px;
    left: 0;
  }

  .hero-bg-2 {
    bottom: -200px;
    left: -20px;
  }

  .shape-2 { left: 60px; }



  /**
   * TOPICS
   */

  .topics .section-title { font-size: 2rem; }

  .slider { --slider-items: 3; }

  .slider-item { min-width: calc(33.33% - 13.33px); }



  /**
   * FEATURE
   */

  .feature { position: relative; }

  .feature-bg {
    display: block;
    position: absolute;
    top: -100px;
    right: 0;
    pointer-events: none;
  }



  /**
   * RECENT POST
   */

  .recent-post-card {
    grid-template-columns: 0.5fr 1fr;
    gap: 20px;
  }

  .pagination-btn {
    width: 42px;
    height: 42px;
  }



  /**
   * ASIDE
   */

  .aside-title { --fontSize-2: 2rem; }

  /* Estilos para telas menores, usando uma Media Query */

/* Estilos para telas menores, usando uma Media Query */



}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    /* font size */
    --fontSize-1: 6.4rem;
    --fontSize-2: 4.5rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }



  /**
   * RECENT POST
   */

  .recent-post-card { grid-template-columns: 0.7fr 1fr; }


}


/* Adicione este CSS para responsividade */
@media (max-width: 992px) {
  .grid-l {
      display: flex;
      flex-direction: column;
  }
  
  .card-f {
      margin-bottom: 20px;
      width: 330px;
  }
  
  
  

  .wr{
    margin-left: 95px;
    
  }
}

/* CSS para responsividade */
@media (max-width: 992px) {
  .li {
      margin-bottom: 20px;
      margin-top: -4rem;
      display: block;
    margin-left: auto;
    margin-right: auto 
  }
  
}




/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 930px; }



  /**
   * HERO
   */

  .hero { padding-block-start: calc(var(--section-padding) + 80px); }

  .hero .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }



  /** 
   * TOPICS
   */

  .topic-card {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
    gap: 20px;
  }



  /**
   * FEATURE
   */

  .feature-list li:nth-child(-n+2) { width: calc(50% - 15px); }

  .feature-list li:nth-child(n+3) { width: calc(33.33% - 20px); }

  .feature-list li:nth-child(n+3) .headline-3 { --fontSize-2: 2rem; }

  



  /**
   * TAGS
   */

  .tags .grid-list { grid-template-columns: repeat(4, 1fr); }



  /**
   * RECENT POST
   */

  .recent-post .container {
    grid-template-columns: 1fr 0.6fr;
    align-items: flex-start;
  }



  /**
   * FOOTER
   */

  .footer-top { grid-template-columns: repeat(3, 1fr); }

  .footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
     
    
  }

  .copyright { margin-block-end: 0; }

}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 1140px; }

  body.nav-active { overflow-y: overlay; }



  /**
   * HEADER
   */

  /**
   * HERO
   */

  .hero .container { max-width: 1050px; }



  /**
   * TAGS
   */

  .tags .grid-list { grid-template-columns: repeat(6, 1fr); }



  /**
   * FOOTER
   */

  .footer-top {
    gap: 40px;
    padding-inline: 120px;
  }

}
